
.navbar {
    min-height: 112px;
    background-color: $widgets;
    display: flex;
    justify-content: center;
    flex-direction: row;

    box-shadow: 0px -43px 0px $details inset;
    box-sizing: border-box;

    .header {
        width: 100%;
        max-width: 1000px;

        &__title {
            height: 69px;
            display: flex;

            .title-header {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                width: 100%;

                &__logo {
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    outline: none;
                    text-decoration: none;

                    .logo-svg {
                        margin-right: 10px;
                        
                        height: 40px;
                        width: 40px;
                    }
                    
                    .logo-text {
                        font-size: 16px;
                        font-weight: bold;
                        color: $black;
                    }


                }
                &__social {
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    gap: 20px;

                    svg {
                        height: 20px;
                        width: 20px;
                    }
                }
            }
        }
    
        &__navigator {
            height: 43px;

            .navigator {
                width: 100%;
                display: grid;
                grid-template-columns: repeat(6, auto);

                &-button {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 43px;
                    min-width: 43px;
                    width: auto;
                    text-decoration: none;
                    color: $black;
                    font-weight: 200;
                    transition: background-color 100ms;
                    
                    svg {
                        height: 20px;
                        width: 20px;
                        margin-right: 10px;

                        transition: transform 100ms;
                    }

                    &.active {
                        background-color: $black;
                        color: white;

                        svg {
                            filter: brightness(100);
                            transform: scale(1.2);
                        }
                    }

                    &:hover {
                        background-color: $black;
                        color: white;

                        svg {
                            filter: brightness(100);
                            transform: scale(1.2);
                        }
                    }
                }
            }
        }
    }
}
