$details :    #C1C2C7;
$widgets :    #CBCCD1;
$background:  #FFFFFF;
$black:       #4C505E;
$gray:        #828594;
$accent:      #AEAEAE;
$red:         #EA362F;
$green:       #18C28F;
$stroke_gray: #ECECEC;

$small_border_radius: 4px;



